<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycle.ecoeco.makerProject.model.dao.user.UserProjectMapper">

    <resultMap type="com.recycle.ecoeco.makerProject.model.dto.ProjectDTO" id="projectResultMap">
        <id property="projectNo" column="projectNo"/>
    </resultMap>


    <resultMap type="com.recycle.ecoeco.makerProject.model.user.dto.StoryDTO" id="StoryResultMap">
        <id property="storyNo" column="storyNo"/>
        <result property="projectDTO" column="projectDTO"/>
        <result property="storyRepImgDTO" column="storyRepImgDTO"/>
        <!--        <result property="prImage" column="prImage"/>-->
    </resultMap>


    <resultMap type="com.recycle.ecoeco.makerProject.model.user.MakerDTO" id="makerResultMap">
        <id property="MakerNo" column="MakerNo"/>
        <result property="projectDTO" column="projectDTO"/>
<!--        <result property="prImage" column="prImage"/>-->
    </resultMap>


    <resultMap type="com.recycle.ecoeco.makerProject.model.dto.RewardDTO" id="rewardResultMap">
        <id property="rewardNo" column="rewardNo"/>
        <result property="projectDTO" column="projectDTO"/>
    </resultMap>

    <resultMap type="com.recycle.ecoeco.makerProject.model.dto.CategoryDTO" id="categoryResultMap">
        <id property="categoryCode" column="categoryCode"/>
        <result property="projectDTO" column="projectDTO"/>
    </resultMap>




<!--프로젝트 생성 insert-->
    <insert id="registProjectInfo" parameterType="com.recycle.ecoeco.makerProject.model.dto.ProjectDTO">
        insert into project(projectNo ,projectName ,deliveryYN ,targetAmount ,startDate ,endDate ,thumbnail ,categoryCode, projectStatus)
        values(#{projectNo} ,#{projectName} ,#{deliveryYN} ,#{targetAmount} ,#{startDate} ,#{endDate} ,#{thumbnail} ,#{categoryCode} ,#{projectStatus})
    </insert>


    <!--리워드 삽입-->
    <insert id="registRewardInfo" parameterType="com.recycle.ecoeco.makerProject.model.dto.RewardDTO" useGeneratedKeys="true" keyProperty="rewardNo">
        insert into reward(rewardNo,rewardName,rewardSum,rewardInfo) values (#{rewardNo} ,#{rewardName} ,#{rewardSum} ,#{rewardInfo})

        <selectKey keyProperty="projectNo" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS MakerNo
        </selectKey>
    </insert>



    <!--리워드 조회-->
    <select id="getAllRewards" resultMap="rewardResultMap">
        SELECT * FROM reward
    </select>
    <!--리워드 삭제-->
    <delete id="deleteReward" parameterType="int">
        DELETE FROM reward
        WHERE rewardNo = #{rewardNo}
    </delete>
    <!--리워드 삭제 테스트-->
    <select id="countRewardByRewardNo" resultMap="rewardResultMap">
        SELECT COUNT(*) FROM reward WHERE rewardNo = #{rewardNo}
    </select>

    <!--메이커 등록 -->
    <insert id="registMakerInfo" parameterType="com.recycle.ecoeco.makerProject.model.dto.MakerDTO">
        insert into maker(makerNo,makerName,email,phone) values(#{makerNo} ,#{makerName} ,#{email} ,#{phone})

        <selectKey keyProperty="projectNo" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS projectNo
        </selectKey>
    </insert>

    <!--  스토리 등록  -->
    <insert id="registStoryInfo" parameterType="com.recycle.ecoeco.makerProject.model.dto.StoryDTO">
        INSERT INTO story (storyNo, storySummary, storyInfo, projectNo)
        SELECT #{storyNo}, #{storySummary}, #{storyInfo}, p.projectNo
        FROM project p
        JOIN story s ON p.projectNo = s.projectNo
        WHERE p.projectNo = #{projectNo}

        <selectKey keyProperty="projectNo" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS projectNo
        </selectKey>
    </insert>

    <!--  스토리 이미지 등록  -->
    <insert id="registStoryRepImage" parameterType="com.recycle.ecoeco.makerProject.model.dto.StoryRepImgDTO">
        INSERT INTO story_rep_image (storyNo, storyImageFileName, storyImageSaveName, storyImagePath, projectNo)
        SELECT #{storyNo}, #{storyImageFileName}, #{storyImageSaveName}, #{storyImagePath}, p.projectNo
        FROM project p
        JOIN story s ON p.projectNo = s.projectNo
        WHERE p.projectNo = #{projectNo}

        <selectKey keyProperty="projectNo" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS projectNo
        </selectKey>
    </insert>
</mapper>
